<md-card>
    <md-card-title>My Dealers</md-card-title>
    <md-card-content>
        <ul class="dealers">
            <li *ngFor="let dealer of (dealers | async)" (click)="onSelect(dealer)" [class.selected]="dealer === selectedHero">
    <span class="dealer-element">
      <span class="badge">{{dealer.code}}</span> {{dealer.name}}
    </span>
                <button md-button color="warn" (click)="deleteHero(dealer, $event)">Delete</button>
            </li>
        </ul>

        <div class="error" *ngIf="error">{{error}}</div>
        <button md-raised-button disabled (click)="addHero()">Add New Dealer</button>

        <div *ngIf="addingHero">
            <app-dealer-detail (close)="close($event)"></app-dealer-detail>
        </div>

        <div *ngIf="selectedHero">
            <h2>
                {{selectedHero.name | uppercase}} is my dealer
            </h2>
            <button md-raised-button (click)="gotoDetail()">View Details</button>
        </div>
    </md-card-content>
</md-card>
