<md-card>
    <md-card-title>My Dealers</md-card-title>
    <md-card-content>
        <ul class="heroes">
            <li *ngFor="let hero of (heroes | async)" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="hero-element">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </span>
                <button md-button color="warn" (click)="deleteHero(hero, $event)">Delete</button>
            </li>
        </ul>

        <div class="error" *ngIf="error">{{error}}</div>
        <button md-raised-button disabled (click)="addHero()">Add New Dealer</button>

        <div *ngIf="addingHero">
            <my-hero-detail (close)="close($event)"></my-hero-detail>
        </div>

        <div *ngIf="selectedHero">
            <h2>
                {{selectedHero.name | uppercase}} is my hero
            </h2>
            <button md-raised-button (click)="gotoDetail()">View Details</button>
        </div>
    </md-card-content>
</md-card>